
<h1>Welcome to the dashboard</h1>
<h2>The dashboard allows you to view energy consumption or log a device</h2>

   <a href="/menu/view" class="btn btn-primary btn-block mb-2"
              >View energy consumption</a>
    <br><br>
    <a href="/menu/log" class="btn btn-primary btn-block mb-2"
              >Log a device</a>   


<style>
    body {background-color: lightgreen ; text-align: center; }
</style>


