
<h1>Welcome to the dashboard</h1>
<h2>You can now log your sensor details</h2>
<form action="/users/login/dashboard" method ="POST">
    <div class="form-group">
        <label for = "sensor">Sensor</label>
        <input type="sensor" name="sensor" class="form-control" id="sensor" placeholder="Sensor"
         value="<%= typeof sensor != 'undefined' ? sensor: '' %>"
        />
    </div>
    <br>
    
   <button type = "submit" class="submit-button">Submit</button>

</form>

<style>
    body {background-color: gray ; text-align: center; }
</style>


