<title>Energy Value </title>


<ul>
    <% jjj.forEach(function(jj){ %>
        <li>
            <h3> Displacement values = <%= jj.Displacement %><h3>
            <h3> Energy Consumption values = <%= jj.energyConsumption %><h3></h3>
            <h3> Speed values = <%= jj.rawspeed %><h3></h3>

        </li>
        <% }); %>
</ul>

<style>
    body {
        background-color: antiquewhite;
    }
</style>