<title>Energy Value </title>

<body>
<h4>The EnergyConsumption is <%= data.EnergyConsumption %> </h4>    
<h4>The Displacement value is <%= data.Displacement %> </h4>   

</body>

<style>
    body{ background-color:antiquewhite;}
</style>