<h1>Energy Consumption Viewing</h1>
<h2>Your channel number is required to generate any data </h2>
<form action="/menu/view" method = "POST">    
    <div class = "form-group">
        <label for="channelID">Channel ID</label>
        <input 
          type="channelID" id="channelID" name="channelID" class="form-control" placeholder="Channel ID"
        />
    </div>
    <br>
    <button type ="submit" class="submit-button">Submit</button>
</form>
<p class="">

<style>
    body{background-color:bisque;}
</style>