<link rel="stylesheet" href="../public/css/main.css">
<style>    
    body {      background-color:darkgrey ;   
                color:black; 
                font-size: medium;  
                display: block;
                text-align: center;}  

    title{
        color: brown;
    }
</style>

<title>Energy Consumption</title>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <link rel="stylesheet" href="../public/css/main.css">
       <div class="card">
           <h1><i class="fab fa-node-js fa-3x"></i></h1>
           <h1>Welcome to Energy Consumption </h1>

           <a href="/users/login" class="btn btn-primary btn-block mb-2"
              >Login</a>
            <a href="/users/Register" class="btn btn-primary btn-block mb-2"
              >Register</a>   
        </div>
    </div>
</div>
